body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
.boder {
  border: 2px solid silver;
  position: static;
  width: 800px;
  height: 500px;
  margin: 60px 280px;
}
.task-managementapp {
  margin: 10px 20px;
}
.time-required {
  text-align: center;
  font-size: 20px;
  position: relative;  
  top: 90px;
}

.task-title {
  font-weight: bold;
  position: relative;
  top:60px;
  right: -20px;

}

.todo-list {
  margin: 50px 20px;
}

.form-control  {
  height: 30px;
  position: relative;
  top: 43px;
  right: -20px;
}
.btn {
  position: relative;
  top: 5px;
  left: 330px;
  background: #147bb8;
}

*/


